.roomInfo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: #90caf9; */
  background: #3f51b5;
}

.leftInfo {
  /* flex: 0.5; */
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: white;
  /* width: 80%; */
}

.rightInfo {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
  color: white;
  /* width: 20%; */
}

.infoButton {
  padding: 20px;
  /* width: 20%; */
}
