html,
body {
  padding: 0;
  margin: 0;
}

#root {
}

.chatOuterContainer {
  background-image: url("https://source.unsplash.com/1600x900/?peru, lama");
  height: 100vh;
}
.chatInnerContainer {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.appbar {
  /* display: flex;
  flex-direction: column; */
}
.toolBar {
  justify-content: space-between;
  margin: 10px;
}

.chatScreen {
  height: 70vh;
  width: 50vh;
  display: flex;
}
.chatScreenPaper {
  /* margin: 10px; */
  /* padding: 20px; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
